/* Login.module.css */
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    display: flex;
    flex-direction: column; /* Para centrar verticalmente */
    align-items: center; /* Para centrar horizontalmente */
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo del formulario */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
  }
  
  .padre {
    display: flex;
    flex-direction: column; /* Para centrar verticalmente los elementos */
    align-items: center;
    width: 100%;
  }
  
  .tamanoImagen {
    width: 100%;
    height: auto;
  }
  
  .estiloProfile {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 20px auto;
  }
  
  .cajatexto {
    background-color: #cccccc40;
    border: 1px solid slategray;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
  }
  
  .cajatexto:hover {
    outline: 1px solid cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
  }
  
  .btnform {
    background-color: #95befe;
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
  }
  
  .btnform:hover {
    background-color: cornflowerblue;
  }
  
  .texto {
    font-size: 15px;
    color: slategray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    text-align: center;
  }
  
  .btnswicth {
    background-color: #007aff;
    border: none;
    border-radius: 30px;
    padding: 8px;
    color: white;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .btnswicth:hover {
    background-color: #95befe;
  }
  